@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans:
    "Quicksand", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html,
body {
  color-scheme: dark;

  @apply text-white bg-zinc-950;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

option {
  @apply text-white bg-zinc-950;
}

button {
  cursor: pointer;
}

.legal {
  @apply lowercase;
}

.legal h1 {
  @apply mb-2 text-3xl font-bold;
}

.legal h2 {
  @apply mt-8 mb-2 text-xl font-bold;
}

.legal h3 {
  @apply mt-8 mb-2 text-lg font-bold;
}

.legal a {
  @apply text-pink-500 font-medium hover:underline;
}

.legal p {
  @apply mt-2 text-zinc-300 text-sm;
}

.legal ul {
  @apply my-4 text-zinc-300 text-sm list-disc list-inside;
}

.legal li {
  @apply mb-1 last:mb-0;
}

.no-scroll {
  scrollbar-width: none;
}

.no-scroll::-webkit-scrollbar,
.no-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.loading__bar__inner {
  animation: loading__bar__inner 1s alternate linear infinite;
}

@keyframes loading__bar__inner {
  0% {
    left: 0;
  }
  100% {
    left: 75%;
  }
}
