@import "tailwindcss";
@import "tailwindcss";

@theme {
  --font-sans:
    "Quicksand", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html,
body {
  color-scheme: dark;

  @apply text-white bg-zinc-950;
}

option {
  @apply text-white bg-zinc-950;
}

.no-scroll {
  scrollbar-width: none;
}

.no-scroll::-webkit-scrollbar,
.no-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.loading__bar__inner {
  animation: loading__bar__inner 1s alternate linear infinite;
}

@keyframes loading__bar__inner {
  0% {
    left: 0;
  }
  100% {
    left: 75%;
  }
}
